@charset "UTF-8";

/* class styles */

/* Speech */
.speech {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    font-style: normal;
}

/* Song */
.song {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: black;
    font-style: italic;
}

/* Stage Directions */
.direction {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: black;
    background-color: #ffff; 
    padding: 5px;
}

/* Hover effect for directions */
.direction:hover {
    background-color: #8b8b8b;
    color: white;
}

/* Character Name */
.name {
    font-family: Georgia, serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.name:hover {
    text-shadow: 3px 3px 8px #00bfff;
    border: 2px solid #ff69b4;          
    padding: 5px;
    border-radius: 8px;
}


/* styles for each character*/

.sirjoseph {
    color: rgb(0, 0, 100);
}

.cousinhebe {
    color: darkgreen;
}

.rel {
    color: rgb(179, 0, 75);
}

.all {
    color: rgb(9, 140, 150);
}


/* group styles */

.chorus {
    color: teal;
}

.girls {
    color: rgb(158, 0, 185);
}

.relatives {
    color: brown;
}


/* classes for song/speech */

/* Song formatting enhancement */
.song {
    letter-spacing: 1px;
    margin-left: 40px;
}

/* Speech formatting enhancement */
.speech {
    margin-left: 20px;
}

/* table styles with requirements */

.cast-table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
    font-family: Helvetica, Arial sans-serif;
    text-align: center;
}

.cast-table th {
    background-color: rgb(120, 0, 0);
    color: white;
    padding: 12px;
    border: 2px solid rgb(113, 0, 0);
    font-size: 18px;
}

.cast-table td {
    padding: 10px;
    border: 1px solid rgb(116, 0, 0);
}

/* Row stripes */
.cast-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.cast-table tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Hover effect */
.cast-table tr:hover {
    background-color: #98baff;
}
